*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root {

--Purple-600: hsl(246, 80%, 60%);
--Orange-300: hsl(15, 100%, 70%);
--Blue-300 : hsl(195, 74%, 62%);
--Pink-400 : hsl(348, 100%, 68%);
--Green-400: hsl(145, 58%, 55%);
--Purple-700: hsl(264, 64%, 52%);
--Yellow-300: hsl(43, 84%, 65%);
--Navy-950: hsl(226, 43%, 10%);
--Navy-900: hsl(243, 34%, 22%);
--Purple-500: hsl(235, 45%, 61%);
--Navy-200: hsl(236, 100%, 87%);
}


.body-container{
    background-color: var(--Navy-950);
    position: relative;
}

.jeremy-container{
    width: 86%;
    height: 280px;
    margin-left: 50px;
    position: relative;
}

.jeremy-container-header{
    height: 170px;
    background-color: var(--Purple-600);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    position: absolute;
    z-index: 10;
}

.espacio-letra{
    display: none;
}

.text-gray{
    color: rgb(191, 191, 191);
}

.profile-image{
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

.jeremy-container-footer{
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Navy-900);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    z-index: 5;
}

.top ,.top2, .top3{
    margin-top: 35px;
}

.footer-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.jeremy-text{
    font-size: 22px;
}

.design{
    background-color: var(--Orange-300);
}

.card-container{
    border-radius: 20px;
    position: relative;
}

.card-container-color{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.card-container-footer{
    background-color: var(--Navy-900);
    border-radius: 18px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.icon__opcion{
    
}

.work-color{
    background-color: var(--Orange-300);
}

.play-color{
    background-color: var(--Blue-300);
}

.study-color{
    background-color: var(--Pink-400);
}

.exercise-color{
    background-color: var(--Green-400);
}

.social-color{
    background-color: var(--Purple-700);
}

.selfcare-color{
    background-color: var(--Yellow-300);
}


@media (min-width: 768px) {

    .jeremy-container{
        height: 530px;
        position: relative;
    }

    .jeremy-container-header{
        height: 350px;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 40px;
        padding-left: 40px;
        border-radius: 20px;
        position: relative;
        z-index: 1;
    }

    .espacio-letra{
        display: blok;
    }

    .profile-image{
        width: 100px;
    }

    .jeremy-container-footer{
        height: 200px;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        z-index: 0;
    }

    .top{
        padding-top: 40px;
    }

    .jeremy-text{
        margin-top: 10px;
        margin-left: 30px;
        font-size: 15px;
    }

    .card-container-footer{
        height: 250px;
    }

    .footer-second{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .second-container{
        margin-top: 5%;
    }

    .icon__opcion{
        width: 80px;
    }

    .palabra{
        font-size: 25px;
        margin-top: 30px;
    }

    .horas{
        font-size: 60px;
        font-weight: 300;
    }

}